<!-- Футер-->
<div class="container-fluid">
    <div class="row footer">
        <div class="col-12 col-md-3 block-footer-contact">
            Контакты:<br>
            {% for phone in base.phones %}
                <img src="{{ vich_uploader_asset(phone, 'imageFile')|imagine_filter('squared_50_30') }}" alt="">
                {{ phone.number }}
                <br>
            {% endfor %}
            {{ base.names }}
            <br>
            Email:<br>
            {% for email in base.emails %}
                {{ email.email }}
                <br>
            {% endfor %}
            <br>
                Соцсети: <br>
                {% for social in base.social %}
                    <a class="social-link" href="{{ social.link }}">
                        <img title="{{ social.title }}" src="{{ vich_uploader_asset(social, 'imageFile')|imagine_filter('squared_30_30_social') }}" >
                    </a>
                {% endfor %} <br><br>
                Наши партнёры: <br>
                {% for partner in base.partner %}
                    <a class="social-link" href="{{ partner.link }}">
                        <img title="{{ partner.title }}" src="{{ vich_uploader_asset(partner, 'imageFile')|imagine_filter('squared_30_30_social') }}" >
                    </a>
                {% endfor %} <br>


        </div>
        <div class="col-12 col-md-5 block-footer-form">
            <div class="block-footer-form-title">
                Сделать заказ, задать вопрос
            </div>
            {{ form_start(formQuestion, {'attr': {'action': path('sendquestion')}}) }}
            {{ form_widget(formQuestion) }}
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Отправить">
            </div>
            {{ form_end(formQuestion) }}
        </div>
        <div class="col-12 col-md-4 block-footer block-footer-map">
            <div class="block-footer-map-info">
                <span>{{ base.title }}</span>
                <br>
                АДРЕС
                <br>
                {{ base.address }}
            </div>
            <iframe src="{{ base.googleMapIframeSrc }}" width="100%" height="70%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>