{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if base %}
    <h1>{{ base.title }}</h1>
    <img src="{{ vich_uploader_asset(base, 'imageFile')|imagine_filter('squared_300_300') }}" alt="{{ base.title }}">
    {% for imageBase in base.imageBaseSlider  %}
        <img src="{{ vich_uploader_asset(imageBase, 'imageFile')|imagine_filter('squared_300_300') }}" alt="">
    {% endfor %}

    {% for emails in base.emails %}
        {{ emails.email }} <br>
    {% endfor %}
        <br>

        {% for phones in base.phones %}
            {% if vich_uploader_asset(phones, 'imageFile') %}
            <img src="{{ vich_uploader_asset(phones, 'imageFile')|imagine_filter('squared_50_50') }}" alt="">
            {% endif %}
            {{ phones.number }}
            {{ phones.operator }}
        {% endfor %}

        {% for social in base.social %}
            <a href="{{ social.link }}">
                {% if vich_uploader_asset(social, 'imageFile') %}
                    <img src="{{ vich_uploader_asset(social, 'imageFile')|imagine_filter('squared_50_50') }}" alt="{{ social.title }}">
                {% endif %}
            </a>
        {% endfor %}

        {% for partner in base.partner %}
            <a href="{{ partner.link }}" >
                {% if vich_uploader_asset(partner, 'imageFile') %}
                    <img src="{{ vich_uploader_asset(partner, 'imageFile')|imagine_filter('squared_50_50') }}" alt="{{ partner.title }}" title="{{ partner.title }}">
                {% endif %}
            </a>
        {% endfor %}


    {% endif %}

</div>
{% endblock %}
